<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Super Chat temps réel !</title>
        <style>
            #zone_chat strong {
                color: white;
                background-color: black;
                padding: 2px;
            }
        </style>
    </head>
 
    <body>
        <h1>Le super Chat temps réel !</h1>

        <form action="/" method="post" id="chatForm">
            <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
            <input type="submit" id="envoi_message" value="Envoyer" />
        </form>

        <section id="zone_chat"></section>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            var socket = io.connect('http://localhost:8080');
            var login = prompt('What\'s your login ?');

            socket.emit('newClient', login);
            addWelcomeMessage("You");

            document.title = login + ' - ' + document.title;

            socket.on("newClient", function(login) {
                addWelcomeMessage(login);
            });

            socket.on("newMessage", function(data){
                addMessage(data.login, data.message);
            });

            $('#chatForm').submit(function () {
                var message = $('#message').val();

                socket.emit('newMessage', message);
                addMessage("You", message);
                
                $('#message').val('').focus();
                return false;
            });

            // Ajoute un message dans la page
            function addMessage(login, message) {
                $('#zone_chat').prepend('<p><strong>' + login + '</strong> ' + message + '</p>');
            }

            function addWelcomeMessage(login) {
                $('#zone_chat').prepend('<p><i>' + login + ' join the channel</i></p>');
            }
        </script>
    </body>
</html>